<!DOCTYPE html>
<html>
<head>
  <!-- Getting Material UI -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">

  <!-- Color Scheme -->
  <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.blue-light_blue.min.css" />
  <title>Keep In Touch</title>
</head>

<body>
  <!-- Simple Textfield -->
  <%= form_for @contact do |f| %>
    <ul>
      <div class="mdl-textfield mdl-js-textfield">
        <%= f.label :first_name, class: "mdl-textfield__label" %>
        <%= f.text_field :first_name, class: "mdl-textfield__input", type: "text" %>
      </div>

      <div class="mdl-textfield mdl-js-textfield">
        <%= f.label :last_name, class: "mdl-textfield__label" %>
        <%= f.text_field :last_name, class: "mdl-textfield__input", type: "text" %>
      </div>

    <!-- Numeric Textfield -->
      <div class="mdl-textfield mdl-js-textfield">
        <%= f.label :phone_number, class: "mdl-textfield__label", for: "sample2" %>
        <%= f.number_field :phone_number, class: "mdl-textfield__input", type: "text", pattern: "-?[0-9]*(\.[0-9]+)?", id: "sample2" %>
        <span class="mdl-textfield__error">Input is not a number!</span>
      </div>

    <!-- Message Textfield -->
      <div class="mdl-textfield mdl-js-textfield">
        <%= f.label :message, class: "mdl-textfield__label", for: "sample1" %>
        <%= f.text_field :message, class: "mdl-textfield__input", type: "text", id: "sample1" %>
      </div>

      <%= f.submit "Add Contact", class: "mdl-button mdl-js-button mdl-button--raised" %>
    </ul>
  <% end %>

</body>
</html>
<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
